/* Base typography */

@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.woff);
}

@font-face {
    font-family: Antonio;
    src: url(../fonts/Antonio-VariableFont_wght.woff);
}

@font-face {
    font-family: OpenSauce;
    src: url(../fonts/opensauceone-regular-webfont.woff2);
}

.anton {
    font-family: 'Anton', sans-serif;
}

.antonio {
    font-family: 'Antonio', sans-serif;
}

.opensauce {
    font-family: 'OpenSauce', sans-serif;
}

a {
    text-shadow: 0 0 3px rgba(0, 0, 0, .25);

    &:hover, &:focus {
        text-shadow: 0 0 6px rgba(0, 0, 0, .75);
    }
}

/* Base page styling */

/* -- Header */

.headerLinks {
    a {
        color: rgba(255, 255, 255, .9);

        &:hover, &:focus, & .active {
            color: white;
        }

        & + a {
            margin-left: 1em;
        }
    }
}
